django-allauth
django-bootstrap4
django-environ
django-crispy-forms
django-redis
django
psycopg2-binary

# API requests
requests

# Compressor SASS/JS
slimit
django-compressor

# Q
django-q

# Static and Media storage
boto3
django-storages

# Slack
slack-bolt>=1.7,<2

# Dev requirements
Werkzeug
ipython
django-extensions
django-debug-toolbar
ipdb
ptvsd

# Prod requirements
newrelic
sentry-sdk
uwsgi

# Test requirements
pytest-cov
pytest-django
pytest-sugar
